{% extends "base.html" %}
{% load static %}

{% block content %}

	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1 class="cover-heading">CensusTest</h1>
					<p class="lead">CensusTest takes data from the 2011 Canadian census and lets users answer simple questions to see how they compare to other Canadians.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container marketing">

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Take the test.</h2>
				<p class="lead">In under two minutes, you can answer census questions related to topics like Demographics, Culture and Work. The test is completely anonymous.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-bloc img-border" src="{% static 'censustest/images/test.png' %}" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-5 col-md-push-7">
				<h2 class="featurette-heading">Compare.</h2>
				<p class="lead">After completing the test, you can view stats and charts to see how your answers compare to the rest of Canada.</p>
				<a href="{% url 'censustest:get_next_topic' 0 %}" class="btn btn-lg btn-primary">Take the test</a>
			</div>
			<div class="col-md-7 col-md-pull-5">
				<img class="featurette-image img-responsive center-block img-border" src="{% static 'censustest/images/results.png' %}" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="page-header">
			<h1>About</h1>
			<p class="lead">CensusTest gets it's data from the <a href="http://www12.statcan.gc.ca/census-recensement/2011/dp-pd/prof/details/page.cfm?Lang=E&Geo1=PR&Code1=01&Geo2=PR&Code2=01&Data=Count&SearchText=Canada&SearchType=Begins&SearchPR=01&B1=All&Custom=&TABID=1">2011 Census Profile</a> and the <a href="http://www12.statcan.gc.ca/nhs-enm/2011/dp-pd/prof/details/page.cfm?Lang=E&Geo1=PR&Code1=01&Data=Count&SearchText=Canada&SearchType=Begins&SearchPR=01&A1=All&B1=All&Custom=&TABID=1">2011 National Household Survey Profile</a> which are publicly available from the Canadian government on the <a href="http://www12.statcan.gc.ca/census-recensement/2011/dp-pd/index-eng.cfm">Statistics Canada</a> website.<br /><br />On the technical side, CensusTest is implemented as a Django web application and uses PostgreSQL as a database. The code is available <a href="https://github.com/MichaelViveros/CensusTest">here</a></p>
		</div>

	</div>

{% endblock %}
