{% extends "base.html" %}
{% load censustest_extras %}

{% block head_block %}
	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock %}

{% block content %}

	<script type="text/javascript">
		$(document).ready(function() {
			$(".js-example-basic-single").select2();
			$(".js-example-basic-multiple").select2({
				placeholder: "Select an option"
			});
		});
	</script>

	<div class="container theme-showcase" role="main">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{ topic.get_progress_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ topic.get_progress_percent }}%; min-width: 2em;"><span>{{ topic.get_progress_percent }}% Complete</span></div>
		</div>

		<div class="page-header topic-header">
			<h1>{{ topic.text }}</h1>
		</div>

		{% if error_message %}
			<div class="alert alert-danger" role="alert">
				<strong>Error:</strong> {{ error_message }}
			</div>
		{% endif %}

		<form action="{% url 'censustest:get_next_topic' topic.sequence_num %}" method="post">
		{% csrf_token %}
		{% for question in topic.question_set.all %}
			<h3>{{ question.display_text }}</h3>
			{% if question.select_multiple %}
				<p>Select up to 10 choices</p>
			{% endif %}
			{% if question.select_multiple %}
				<select multiple="multiple" name="question{{ question.id }}" class="js-example-basic-multiple">
			{% else %}
				<select name="question{{ question.id }}" class="js-example-basic-single">
				<option selected disabled>Select an option</option>
			{% endif %}
			{% for choice in question|sort_choices %}
				<option value="{{ choice.id }}">{{ choice.text }}</option>
			{% endfor %}
			</select>
			<br />
		{% endfor %}
		<br />
		<input class="btn btn-lg btn-primary" type="submit" value="Save Answers" />
		</form>
	</div>

{% endblock %}
